*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.nav{
    flex: 1;
    text-align:right;
}
.nav ul{
    display: inline-block;
    list-style: none;
}
.nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}


.nav ul a{
    text-decoration: none;
    color: #555;
    font-weight: bold;
}
p{
    color: #555;
}
.container{

    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.col-2 a{
    text-decoration: none;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.logo h3{
    color: #ff523b;
    font-size: 30px;
}
.header .row{
    margin-top: 70px;
}
.categories{
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.............. margin not working */
    margin-top: 70px 0;
    /* border: 1px solid; */
}
.column-3{
    flex-basis:30% ;
    min-width: 300px;
    margin-bottom: 30px;
    /* border: 1px solid; */
}
.column-3 img{
width: 100%;
border-radius: 5px;
}

.small-container{
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right:25px ;
    /* border: 1px solid; */
    margin-bottom: 70px;

 
}
.header{
    margin-bottom: 70px;
}
.column-4{
    flex-basis: 25%;
    min-width: 200px;
    /* border: 1px solid ; */
    padding: 25px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    
}
.column-4 img{
width: 100%;
border-radius: 10px;
}
.title{
    text-align: center;
    margin: 0 auto 80px; 
    position: relative;
    line-height:60px;
    color:#555
 
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.column-4 p{
    font-size: 14px;
}
.rating{
    color: #ff523b;
}
.column-4:hover{
    transform: translateY(-5px);
}
.nav:hover{
    color: #ff523b;
}
.nav a:hover{
    color: #ff523b;
}
.parent{
    text-align: center;
}
.parent h1{
    color: #ff523b;
    margin-bottom: 55px;
    font-size: 40px;
}
.inpt {
    width: 500px;
    height: 50px;
    margin: 10px;
    padding: 8px 15px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #ff523b;
    outline: none;
    transition: 0.5s;
}
.inpt:focus{
    border-color:#ff523b;
    box-shadow: 0 0 8px 0 #ff523b ;
}
.myButton {
	box-shadow: -3px 3px 43px 11px #fce2c1;
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:15px 215px;
	text-decoration:none;
    margin-top: 25px;
    border: 1px solid orange;
}
.myButton:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#ff523b;
}
.myButton:active {
	position:relative;
	top:1px;
}
#message{
    height: 150px;
    padding-bottom: 90px;
    
}
.href a{
    text-decoration: none;
    color:#ff523b ;
    font-size: 30px;
    position: relative;
    margin-left: 1150px;
}
.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0px 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
footer-col1,footer-col2,footer-col3{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col1{
    flex-basis: 30%;
}
.footer-col2{
   flex:1;
   text-align: center;
}
.footer-col2 img{
   width: 180px;
   margin-bottom: 20px;
   cursor: pointer;
}
.footer-col3{
    flex-basis: 12%;
    text-align: center;
    cursor: pointer;
}
.footer-col3 ul {
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
app-logo img{
    width: 140px;
    cursor: pointer;
}
html{
    scroll-behavior: smoothf;
}